html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.viewport {
  position: fixed;
  inset: 0;
  overflow: hidden;
}






.viewport {
  position: fixed;
  top: 0;
  left: 0;

  width:100%;
  height: 100%;
  overflow: hidden;

  background: #111;
  cursor: grab;
}

.world {
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: 0 0;

  will-change: transform;
  outline: 2px solid blue;
}

.tile {
  position: absolute;
  width: 512px;
  height: 256px;
  user-select: none;
  pointer-events: none;
}

